In [4]:
BASE_PATH = '/home/masa1357/Dockerdata/gitfile/kaggle_clrp_1st_place_solution/'
INPUT_PATH = BASE_PATH + 'CourceFormat/'

In [14]:
import pandas as pd
import os

# Create an empty list to store the dataframes
dfs = []

# Loop through the range of files and read them into the list
for n in range(1, 16):
    file_name = f"cource{n}.csv"
    dfs.append(pd.read_csv(os.path.join(INPUT_PATH,file_name)))

# Concatenate all the dataframes in the list into a single dataframe
df = pd.concat(dfs, ignore_index=True)

df

,id,1,2,3,4,5,target,6,7,8
0,B-2020_U1,"""It was my first time in an online class, so I...",NaN,"""I wasn't able to prepare for lessons such as ...",NaN,"""Although it is an online class, I would like ...",-3,NaN,NaN,NaN
1,B-2020_U1,"""It was my first time in an online class, so I...",NaN,"""I wasn't able to prepare for lessons such as ...",NaN,"""Although it is an online class, I would like ...",-3,NaN,NaN,NaN
2,B-2020_U1,"""It was my first time in an online class, so I...",NaN,"""I wasn't able to prepare for lessons such as ...",NaN,"""Although it is an online class, I would like ...",-3,NaN,NaN,NaN
3,B-2020_U10,NaN,"""Be careful about reusing passwords and provid...",NaN,NaN,"""Even if I listened to the story while looking...",0,NaN,NaN,NaN
4,B-2020_U10,NaN,"""Be careful about reusing passwords and provid...",NaN,NaN,"""Even if I listened to the story while looking...",0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16518,C-2022-1_U94,"""Today is a test\r\n""",NaN,NaN,NaN,"""I did my best. Thank you for the previous term.""",-3,NaN,NaN,NaN
16519,C-2022-1_U94,"""Today is a test\r\n""",NaN,NaN,NaN,"""I did my best. Thank you for the previous term.""",-3,NaN,NaN,NaN
16520,D-2021_U49,"""Second knowledge map, article submission""",NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
16521,D-2022_U89,"""Created the second knowledge map.""","""While confirming what I created in the first ...",NaN,NaN,NaN,1,NaN,NaN,NaN
16522,D-2022_U89,"""Created the second knowledge map.""","""While confirming what I created in the first ...",NaN,NaN,NaN,1,NaN,NaN,NaN

In [15]:
df.columns

Index(['id', '1', '2', '3', '4', '5', 'target', '6', '7', '8'], dtype='object')

In [19]:
# Drop the 'userid' column and then concatenate the remaining columns with <b> token
df['excerpt'] = df.drop(columns=['id']).apply(lambda row: '\n'.join(row.dropna().astype(str)), axis=1)

# Display the resulting dataframe with the new 'combined_text' column
df = df[['id', 'excerpt','target']]
df.head()

           id                                            excerpt  target
0   B-2020_U1  "It was my first time in an online class, so I...      -3
1   B-2020_U1  "It was my first time in an online class, so I...      -3
2   B-2020_U1  "It was my first time in an online class, so I...      -3
3  B-2020_U10  "Be careful about reusing passwords and provid...       0
4  B-2020_U10  "Be careful about reusing passwords and provid...       0

In [10]:
df.to_csv(os.path.join(BASE_PATH,'connected.csv'))